name: build-pr

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [main]
  merge_group:

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  call:
    uses: ./.github/workflows/reusable-ci.yml
    with:
      ref: ${{ github.event.pull_request.head.sha }}
