name: enforce-ruff

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b6
        with:
          python-version: '3.11'
      - name: Install ruff (pinned v0.13.0)
        run: pip install ruff==0.13.0
      - name: Ruff format (check only)
        run: ruff format --check .
      - name: Ruff lint
        run: ruff check .
